* {
  margin: 0px 0px;
  padding: 0px;
  background-color: rgba(173, 176, 180, 0.247);
}
nav {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
  background-color: rgba(128, 128, 128, 0.425);
}
div.nav-left {
  /* border: 1px solid; */
  display: flex;
  box-sizing: content-box;
}
.nav-logo img {
  /* border: 1px solid; */
  width: 100%;
  margin: 0px;
  height: 100%;
  box-sizing: border-box;
}
input {
  width: 350px;
  height: 40px;
  padding: 0px 10px 0px 10px;
  border-radius: 8px;
  margin-top: 5px;
  background-color: white;
}
ul {
  /* border: 1px solid; */
  width: 100%;
  height: max-content;
  border-radius: 8px;
  list-style: none;
  display: flex;
  margin-bottom: 10px;
  margin: 0px;
}
ul li.kiri {
  text-align: center;
  line-height: 40px;
  margin-right: 30px;
}
ul li.kanan {
  color: rgb(34, 10, 245);
  border: 2px solid;
  border-radius: 8px;
  font-size: 20px;
  padding: 8px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
main {
  /* border: 1px solid; */
  margin: 15px 5px 0px 5px;
  height: auto;
  display: flex;
  box-sizing: border-box;
  /* justify-content: space-between; */
}
div.head-left {
  /* border: 1px solid; */
  width: 30%;
  height: 900px;
  margin: 0px 0px 0px 0px;
}

div.head-left-satu {
  /* border: 1px solid blue; */
  border-radius: 8px;
  width: 100%;
  height: 50%;
  margin: 0px 0px 30px 0px;
  background-color: white;
}
div.head-left-dua {
  /* border: 1px solid blue; */
  width: 100%;
  height: 60px;
  margin: 0px 0px 30px 0px;
  display: flex;
  text-align: center;
  line-height: 57px;
  font-size: 25px;
  box-sizing: border-box;
}
.main5 {
  /* border: 1px solid blue; */
  width: 100%;
  height: 57px;
  display: flex;
  text-align: center;
  line-height: 57px;
  font-size: 25px;
  /* box-sizing: border-box; */
  margin: 0px;
}
.left-tiga {
  /* border: 1px solid; */
  width: 60px;
  height: 100%;
  margin: 0px 10px 0px 5px;
  background-color: white;
}
div.head-center {
  /* border: 4px solid; */
  border-radius: 10px 10px 0px 0px;
  width: 95%;
  height: 100%;
  margin: 0px 10px;
  /* padding: 0px; */
}
div.head-right {
  /* border: 1px solid; */
  border-radius: 8px;
  width: 25%;
  height: 1090px;
  margin-right: 0px;
  /* margin-left: 15px; */
  /* float: right; */
}
div.right-satu {
  /* border: 1px solid blue; */
  border-radius: 10px;
  width: 100%;
  height: 520px;
  margin: 0px 0px 45px 0px;
  background-color: white;
}
div.right-dua {
  /* border: 1px solid red; */
  border-radius: 10px;
  width: 100%;
  height: 520px;
  margin: 0px;
  background-color: white;
}
div.img-1 {
  /* border: 1px solid; */
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 425px;
  margin: 0px;
  background-color: gray;
  /* box-sizing: border-box; */
}
div.content-satu {
  /* border: 1px solid; */
  border-radius: 0px 0px 10px 10px;
  padding: 0px 0px 20px 0px;
  margin: 0px;
  width: 100%;
  background-color: white;
  /* height: 225px; */
  /* box-sizing: border-box; */
}
/* div.profile {
  border: 1px solid;
  width: 100%;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  margin: 0px;
  background-color: white;
} */
div.profile {
  /* border: 1px solid; */
  border-radius: 8px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 0px;
  display: flex;
  background-color: white;
}
div.profil-img {
  border: 1px solid black;
  border-radius: 100%;
  width: 77px;
  height: 77px;
  margin-top: 0px;
  background-color: white;
}
.judul-satu {
  background-color: white;
}
.coment-satu {
  display: flex;
  /* border: 2px solid; */
  background-color: white;
}
.coment-psatu {
  margin-right: 10px;
  background-color: white;
}
.coment-pdua {
  background-color: white;
}
div.name {
  background-color: white;
}
div.name h3 {
  background-color: white;
}
div.name p {
  background-color: white;
}
div.content-dua {
  /* border: 1px solid; */
  border-radius: 10px;
  padding-bottom: 20px;
  margin: 20px 0px 0px 0px;
  background-color: white;
  /* height: 225px; */
  /* box-sizing: border-box; */
}
.coment-satu {
  display: flex;
  /* border: 2px solid; */
  /* background-color: white; */
}
.coment-psatu {
  margin-right: 10px;
}
@media screen and (max-width: 770px) {
  nav .nav-left input {
    display: none;
  }
  .nav-logo {
    width: 50px;
  }
  .nav-right {
    display: none;
  }
  nav {
    display: flex;
    justify-content: center;
  }
  div.head-left {
    display: none;
  }
  div.head-right {
    display: none;
  }
}
@media screen and (max-width: 888px) {
  .nav-right {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-around;
  }
}
